@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
    display: flex;
    flex-direction: column;
  }
  
  .body {
    display: flex;
    flex: 1;
  }
  
  .side-menu {
    width: 250px;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    overflow-y: auto;
  }
  
  .content {
    flex: 1;
    padding: 115px 20px;
    overflow-y: auto;
  }

  .btn-cont{
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    gap: 15px;
    button{
        color:white;
        padding: 5px 10px;
        background-color: #ff532f;
        border-radius: 2px;
    }
  }